<html>
<head>
     
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body id="body">
<% include master.html %>	
   <div id="wrapper2">
            <div id="content_area">
                <ContentPlaceHolder ID="ContentPlaceHolder1" >
             
	
	<h4><%= obj%> <h4>
	<p><%= objDesp%> <p>
	<h4><%= summary%> <h4>
	<p><%= summaryDesp%> <p>

	<h4><%= tech%> <h4>
	<p><%= techDesp%> <p>
	<h4><%= exp%> <h4>
	<p><%= exp1%> <p>
	<p><%= exp2%> <p>
	<p><%= exp3%> <p>
	
		<h4><%= edu%> <h4>
	<p><%= eduDesp%> <p>
	<h4><%= course%> <h4>
	<p><%= courseDesp%> <p>

	<h4><%= dep%> <h4>
	<p><%= depDesp%> <p>
	<h4><%= volun%> <h4>
	<p><%= volunDesp%> <p>
	<
		<h4><%= interest%> <h4>
	<p><%= interestDesp%> <p>
	<h4><%= ref%> <h4>
   </ContentPlaceHolder>
	     </div>

            <div id="sidebar">

            </div>
        </div>     
	    
</body>
</html>